<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title>Helios Launcher</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./hyranio/css/hyranio.css">
</head>
<body>
    <%- include('./hyranio/frame') %>
    <div id="main">
        <%- include('./hyranio/connection') %>
        <%- include('./hyranio/launcher') %>
    </div>
    <div style="display: none">
        <%- include('frame') %>
            <%- include('welcome') %>
            <%- include('login') %>
            <%- include('waiting') %>
            <%- include('loginOptions') %>
            <%- include('settings') %>
            <%- include('landing') %>
        <%- include('overlay') %>
        <div id="loadingContainer">
            <div id="loadingContent">
                <div id="loadSpinnerContainer">
                    <img id="loadCenterImage" src="assets/images/LoadingSeal.png">
                    <img id="loadSpinnerImage" class="rotating" src="assets/images/LoadingText.png">
                </div>
            </div>
        </div>
    </div>

    <script>
        // Load language
        for(let key of Object.keys(Lang.query('html'))){
            document.getElementById(key).innerHTML = Lang.query(`html.${key}`)
        }

        function switchLauncherView() {
            document.getElementById("connection-part").classList.toggle("activatedLauncher")
            document.body.classList.toggle("activatedLauncher")
            document.getElementById("launcher").classList.toggle("activatedLauncher")
        }

        function switchPlayView(element) {
            element.classList.toggle("activatedPlay")
            document.getElementById("launcher-option").classList.toggle("activatedPlay")
        }

        ipc.send("app")

        ipc.on("test", () => {
            console.log("uhndfsgisdhgf")
        })

    </script>
</body>
</html>